
.monthChooserStyles {
    headerColors: #f3f6fb, #f3f6fb;
    borderColor: #ccdbf0;
	
    /* Previous Month */
    prevMonthUpSkin: Embed("components/date/assets/resultset_previous.png");
    prevMonthOverSkin: Embed("components/date/assets/resultset_previous.png");
    prevMonthDownSkin: Embed("components/date/assets/resultset_previous.png");
    prevMonthDisabledSkin: Embed("components/date/assets/resultset_previous.png");

    /* Next Month */
    nextMonthUpSkin: Embed("components/date/assets/resultset_next.png");
    nextMonthOverSkin: Embed("components/date/assets/resultset_next.png");
    nextMonthDownSkin: Embed("components/date/assets/resultset_next.png");
    nextMonthDisabledSkin: Embed("components/date/assets/resultset_next.png");
}


