/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.tab
{
	
	background-color: #FFFFFF;
	
	font-size: 15;
	font-weight: bold;
	color: #000000;
	text-roll-over-color: #000000;
	
	corner-radius: 2;
	
	border-style: solid;
	border-thickness: 1;
	border-color: #000000;
}

.accordion
{
	font-size: 15;
	font-weight: bold;
	textRollOverColor: #bbbbbb;
	textSelectedColor: #bbbbbb;
	selectedTextColor: #a3a3a3;
	color: #FFFFFF;
	chromeColor: #000000;
}

.accordionTreatmentProc
{
	font-size: 9;
	font-weight: bold;
	textRollOverColor: #bbbbbb;
	textSelectedColor: #bbbbbb;
	selectedTextColor: #a3a3a3;
	color: #FFFFFF;
	chromeColor: #000000;
}