@namespace mx "library://ns.adobe.com/flex/mx";

.buttonStyle
{
  color: #FFFFFF;
  font-size: 12;
}

.sampleNameStyle
{
  color: #FFFFFF;
  font-size: 17;
}

@namespace ilog "http://www.ilog.com/2007/ilog/flex";
@namespace local "modules.MultiCalendar.*";

local|CustomVerticalRenderer {
	color: #FFFFFF;
	recurrence-icon: Embed(source="../resources/recurringItem.png");
	exception-icon: Embed(source="../resources/recurringItemException.png");
	start-time-font-size: 8;
	end-time-font-size: 8;
	border-skin: ClassReference("modules.MultiCalendar.GradientBorder");
	
}

ilog|CalendarItemHorizontalRenderer {
	color: #FFFFFF;
	recurrence-icon: Embed(source="../resources/recurringItem.png");
	exception-icon: Embed(source="../resources/recurringItemException.png");
	border-skin: ClassReference("modules.MultiCalendar.GradientBorder");
}

.todayDateChooserFont {
	color: #000000;
	font-weight: bold;      
}

@namespace mx "library://ns.adobe.com/flex/mx";    
mx|DateChooser {
	today-style-name: todayDateChooserFont;
	today-color: #FFFF73;
}

mx|Alert {
	color: #000000;
	background-color: #FFFFFF;
	background-alpha: 1;
}
