/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace controls "components.controls.*";

mx|ToolTip {
	font-size: 12;
}

controls|DateField2 {
	disabledSkin: Embed("../DateField2_disabled.png");
}